body {
    background-color: aquamarine !important;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine !important;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 12px;
    align-items: center;

    display: flex;
    justify-content: space-between;
}

.quiz-card {
    width: 35rem;
}

.quiz-answer-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.bg-success,
.bg-danger {
    color: white;
}